/* Banner Layout */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6c63ff, #8ec5fc);
    color: white;
    text-align: center;
    animation: fadeUp is ease-out;
}

/* Banner Content */
.banner__content {
    max-width: 600px;
    padding: 0 5vw;
}

/* Text Styling */
.banner h1 {
    font-size: 6vh;
    margin-bottom: 20px;
}

.banner p {
    font-size: 2vh;
    margin-bottom: 30px;   
}

.banner button{
    background-color: white;
    color: #6c63ff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
 .banner button:hover {
    background-color #f2f2f2;
    transform: scale(1.05);
 }

 /* Animation */
 @keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 0;
        transform: translateY(0)
    }
 }

 /* Responsive Design */
 @media (max-width: 768px) {
    .banner h1 {
        font-size: 8vh;
    }
    .banner p {
        font-size: 4vh;
    }
    .banner button {
        padding: 12px 24px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .banner {
        flex-direction: column;
        padding: 10vh 5vw;
    }
    .banner h1 {
        font-size: 10vw;
    }
    .banner p {
        font-size: 5vw;
    }
}