@keyframes slideIn{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes throbbing {
    From {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.MyBox{
    width: 150px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: blue;
    border-radius: 20px;
    animation: slideIn 1s ease-out;
    animation: throbbing 1s ease-in-out 3;
}
