.card {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: crimson;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
}