@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');
    
body {
  background-color: #200144;
  text-align: center;
  font-family: 'BBH Bogle', sans-serif;
  padding: 80px;
}

.poster {
  background-color:#2c0d50;
  border-radius: 12px;
  padding: 40px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.poster h1 {
  color: #33ff00b4;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.poster p {
  color: #a3a3a3;
  font-size: 18px;
  font-style: italic;
}